:root {
  --theme-color: hsl(100, 100%, 35%);
}

/* fonts */

/* Fira Code */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v14/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Ng.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

h2,
h3 {
  margin: 2rem 0;
}

header .recieve-share-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--theme-color);
  color: white;
  padding: 0.75rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 1rem;
  border: 2px dotted white;
}

.select-file-div {
  width: 15rem;
  height: 15rem;
  background-color: hsl(100, 100%, 80%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 3px dotted black;
  cursor: pointer;
}

.text-input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

#file-name {
  background-color: hsl(100, 100%, 80%);
  border-radius: 10px;
  border: 3px dashed black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-family: "Fira Code", "Montserrat 500";
  max-width: 90vw;
  width: 40rem;
}

.text-input-div textarea {
  max-width: 90vw;
  width: 40rem;
  height: 20rem;
  background-color: hsl(100, 100%, 80%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 3px dashed black;
  padding: 1rem;
  font-family: "Fira Code", "Montserrat 500";
  resize: none;
  font-size: 1rem;
}

.select-file-div p {
  font-family: "Montserrat";
  font-weight: 900;
}

.upload-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2rem;
}

.upload-btn {
  padding: 0.75rem;
  font-size: 1.75rem;
  width: 15rem;
  margin: 1rem auto;
  margin-bottom: 2rem;
  border: 2px solid black;
  box-shadow: 1px 1px 10px 1px black;
  color: white;
  background-color: hsl(100, 100%, 30%);
  font-family: "Montserrat";
  max-width: 70vw;
}

.upload-btn:active {
  box-shadow: inset 1px 1px 1px 1px black;
}

.download-btn {
  padding: 0.75rem;
  font-size: 1.75rem;
  width: 15rem;
  margin-bottom: 2rem;
  border: 2px solid black;
  box-shadow: 1px 1px 10px 1px black;
  color: white;
  background-color: hsl(33, 100%, 30%);
  font-family: "Montserrat";
  margin-top: 0;
}

.download-btn:active {
  box-shadow: inset 1px 1px 1px 1px black;
}

.display-link-div {
  background-color: hsl(211, 100%, 65%);
  border: 3px solid black;
  border-right: none;
  border-radius: 10px;
  font-family: sans-serif;
  transition: 0.2s cubic-bezier(0.1, 0.1, 0.1, 1);
  max-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.link-display {
  padding: 0 0.75rem;
  max-width: 44vw;
}

.display-link-div span {
  font-family: "Montserrat";
  font-weight: 900;
}

.display-link-div p {
  color: white;
  text-align: center;
}

.display-link-div a {
  color: hsl(60, 100%, 50%);
  text-decoration: underline;
  word-wrap: break-word;
}

.count-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 20px;
  width: 6rem;
  height: 4rem;
  background-color: hsl(84, 100%, 35%);
  background-color: hsl(0, 0%, 35%);
  color: white;
  border: 2px solid black;
  margin-right: 1rem;
}

.upload-details-div {
  background-color: rgb(220, 245, 221);
  padding: 1rem;
  border-radius: 20px;
  border: 2px solid grey;
  max-width: 80vw;
}
.upload-details-div h3 {
  text-align: center;
}
.change-upload-count-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
  margin-top: 0;
}

.change-count-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-count-up {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: black;
  padding: 0.75rem 1.25rem;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  border: 2px solid grey;
  border-left: none;
  user-select: none;
}

.upload-count-down {
  color: black;
  font-weight: bold;
  background-color: white;
  font-size: 1.5rem;
  padding: 0.75rem 1.25rem;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  border: 2px solid grey;
  border-right: none;
  user-select: none;
}

.copy-link-div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.copy-link {
  background-color: black;
  width: fit-content;
  padding: 1.75rem;
  border-radius: 0 10px 10px 0;
  transition: 0.2s cubic-bezier(0.1, 0.1, 0.1, 1);
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#copy-icon {
  color: white;
  width: 25px;
  height: 25px;
}

.uploaded-file-link-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  border-radius: 10px;
  max-height: 5rem;
}

.file-code-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: hsl(100, 100%, 80%);
  max-width: fit-content;
  border: 3px solid black;
  border-radius: 10px;
}

.file-code-div p {
  font-weight: 900;
  font-size: 1.5rem;
}

.after-upload-div {
  background-color: rgb(220, 245, 221);
  padding: 1rem;
  border-radius: 20px;
  border: 2px solid grey;
  margin: 1rem;
  max-width: 80vw;
}

.after-upload-div h3 {
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.content h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

#input-box {
  border: 3px solid black;
  border-radius: 20px;
  padding: 1rem;
  font-size: 2rem;
  max-width: 20rem;
}

.btn-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-div button {
  border-radius: 20px;
  font-size: 1rem;
  font-family: "Montserrat";
  border: 3px solid black;
  background-color: hsl(100, 100%, 40%);
}

#view {
  background-color: hsl(211, 100%, 70%);
  border: 3px solid black;
  margin-right: 1.5rem;
  font-size: 1rem;
}

#download {
  border: 3px solid black;
  margin-right: 1.5rem;
  font-size: 1rem;
}

#fetch-info {
  background-color: yellow;
}

#view,
#download {
  display: none;
}

.btn-div p {
  font-size: 2rem;
  margin: 0 auto;
  padding: 1rem;
}
