/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

/* Fonts */

/* Montserrat */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Montserrat 500";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  --theme-color: hsl(100, 100%, 35%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
  background-color: #888;
  color: black;
  margin: 0.5rem;
}

a {
  text-decoration: none;
  display: block;
}

h1 {
  font-family: "Montserrat 500";
  letter-spacing: 7px;
  font-size: 3rem;
}

h2 {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .main {
  margin-left: 1rem;
}

header h1 {
  color: white;
  text-shadow: 0 0 3px #000, 0 0 5px #000;
}

header a {
  width: fit-content;
  margin: 0 auto;
}

header span {
  color: hsl(60, 100%, 50%);
  color: black;
  font-family: "Montserrat";
  /* font-size: 1.25rem; */  text-shadow: 0 0 1px #000, 0 0 1px #000;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(270, 70%, 40%);
  color: black;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--theme-color);
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem 0;
  cursor: pointer;
}

.container {
  background-color: beige;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
}

header {
  text-align: center;
  padding: 2rem 1rem;
  background-color: var(--theme-color);
  border-radius: 10px 10px 0 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  padding: 2rem 0;
}

#send {
  background-color: hsl(80, 80%, 60%);
  border: 2px solid black;
  box-shadow: 1px 1px 10px 1px black;
  margin-bottom: 2rem;
}
#get {
  background-color: hsl(150, 90%, 50%);
  border: 2px solid black;
  box-shadow: 1px 1px 10px 1px black;
}

#send,
#get {
  padding: 1rem 1.5rem;
}

footer {
  text-align: center;
  font-family: "Montserrat 500";
  background-color: var(--theme-color);
  padding: 2rem 1rem;
  font-size: 1.25rem;
  border-radius: 0 0 10px 10px;
}

#theme-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background-color: grey;
  margin-bottom: 1.5rem;
  border: 3px solid black;
  border-radius: 50px;
}
.theme-dot {
  cursor: pointer;
  display: inline-flex;
  margin-top: 0.25rem;
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  border-radius: 50%;
  margin: 0.5rem;
}
#light-mode {
  background-color: #eee;
  border: 1px solid black;
}
#dark-mode {
  background-color: #232323;
  border: 1px solid black;
  margin-left: 0;
}
